<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.flowercentral.flowercentralcustomer">

    <!--Internet / Network Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Location Access Permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".FlowerCentral"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".launch.ui.LauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".dashboard.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".ProductDetail.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:launchMode="singleInstance"
            android:parentActivityName=".dashboard.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".cart.CartActivity"
            android:label="@string/title_activity_cart"
            android:launchMode="singleInstance"
            android:parentActivityName=".dashboard.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".delivery.AddressActivity"
            android:label="@string/title_activity_address"
            android:launchMode="singleInstance"
            android:parentActivityName=".cart.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".order.OrderDetailActivity"
            android:label="@string/title_activity_order_details"
            android:launchMode="singleInstance"
            android:parentActivityName=".dashboard.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleInstance"
            android:parentActivityName=".dashboard.Dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_app_id"/>
            </intent-filter>
        </activity>

        <service
            android:name=".common.location.service.FetchAddressIntentService"
            android:exported="false">
        </service>

        <!-- Meta data for facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id"/>

    </application>

</manifest>